# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.9

    working_directory: /go/src/github.com/Seneca-CDOT/StatUtils
    steps:
      - checkout

      - run: go build -o /go/bin/perfmonitor.out
  deploy:
    machine:
      enabled: true
    working_directory: /go/src/github.com/Seneca-CDOT/StatUtils
    steps:
      - attach_workspace:
          at: ./artifacts
      - run:
        name: "Publish Release on GitHub"
        command: |
          go get github.com/tcnksm/ghr
          VERSION=$(/go/bin/perfmonitor.out -version)
          ls -l
          ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1}
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          # filters:
          #   branches:
          #     only: -soft 
          #       - master
      